body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
    flex-direction: column;
    gap: 8px;
}


#container{
    display: flex;
    justify-content: center;
    align-content: center;
    border-style:solid ;
    border-color: black;
    height: 600px;
    width: 600px;
    flex-wrap: wrap;
    gap: 8;
    
}

.grid{
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: thin;
}

.btnContainer{
    display: flex;
    justify-content: center;
    width: 600px;
    gap: 8px;
}

.random{
    color: white;
    background-color: grey;
}